<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Management System</title>
</head>
<body>
  <div class="hero">
    
    <div class="content">
      <h1>Your contribution matters</h1>
    </div>
  </div>


  <section class="home">
    <div class="home-content">
      <h1>Engineering excellence</h1>
      <h3>DEPTH OF EXPERTISE</h3>
      <p>Helps companies modernize technology, reimagine processes and transform experiences so they stay ahead in a fast-changing world.

      </p>
    </div>
    <!-- <div class="home-image">
      <img src="assets/images/company2.jpg" alt="Emp Deal Image">
    </div> -->
     <!-- CSS Cards -->
     <div class="card-container">
      <div class="card">
        <div class="card-image">
          <img src="assets/images/c3.jpg" alt="Car 1">
        </div>
        <div class="card-overlay">
          <h3>Realizing client ambition</h3>
          <p>The process of understanding and fulfilling the goals and aspirations of clients in a business context.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="assets/images/c4.jpg" alt="Car 2">
        </div>
        <div class="card-overlay">
          <h3>Cognitive business operations</h3>
          <p>The integration of advanced technologies, such as artificial intelligence (AI), machine learning, and data analytics, into business processes to enhance decision-making and operational efficiency.</p>
        </div>
      </div>
    </div>


  </section>
  


</body>
</html>