
<div class="container d-flex flex-column justify-content-center align-items-center">
  <br>
  <h2>Employee Registration</h2>
  <form (ngSubmit)="registerSubmit(registrationForm)" #registrationForm="ngForm" novalidate style="width: 50%;">
    <hr>

    <div class="mb-3">
      <label for="name1" class="form-label">Employee Name</label>
      <input type="text" class="form-control"  id="name1" name="name" [(ngModel)]="employee.employeeName" #employeeName="ngModel" required>
      <div id="employeeNameHelp" class="form-text text-danger" *ngIf="employeeName.invalid && (employeeName.dirty || employeeName.touched)">
        Name can't be empty.
      </div>
    </div>

    <div class="mb-3">
      <label for="salary1" class="form-label">Salary</label>
      <input type="number" class="form-control" id="salary1" name="salary" [(ngModel)]="employee.employeeSalary" #employeeSalary="ngModel" required>
    </div>

    <div class="mb-3">
      <label for="email1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email1" name="email" [(ngModel)]="employee.employeeEmail" #employeeEmail="ngModel" required>
      <div id="employeeEmailHelp" class="form-text text-danger" *ngIf="employeeEmail.invalid && (employeeEmail.dirty || employeeEmail.touched)">
        Email can't be empty.
      </div>
    </div>

    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password1" name="password" [(ngModel)]="employee.password" #password="ngModel" required>
      <div id="passwordHelp" class="form-text text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
        Password can't be empty.
      </div>
    </div>

    <div class="mb-3">
      <label for="skillset1" class="form-label">SkillSet</label>
      <input type="text" class="form-control" id="skillset1" name="skillset" [(ngModel)]="employee.skillSet" #skillSet="ngModel" required>
      <div id="skillSetHelp" class="form-text text-danger" *ngIf="skillSet.invalid && (skillSet.dirty || skillSet.touched)">
        Skillset can't be empty.
      </div>
    </div>

    <div class="mb-3">
      <label for="departmentId" class="form-label">Department Id</label>
      <input type="number" class="form-control" id="departmentId" name="departmentId" [(ngModel)]="employee.department.departmentId" #departmentId="ngModel" required>
      <div id="departmentIdHelp" class="form-text text-danger" *ngIf="departmentId.invalid && (departmentId.dirty || departmentId.touched)">
        Department Id can't be empty.
      </div>
    </div>

    <button type="submit" class="btn btn-primary m-2" [disabled]="registrationForm.pristine ||  registrationForm.invalid">Submit</button>
    <button class="btn btn-warning " type="reset">Reset</button>
  </form>

  <div class="alert alert-success" role="alert" *ngIf=" curdService.employeeAddSuccess">
    Employee was added Succussfully.
  </div>
</div>

